.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
}

.sm_p {
    font-size: 1.5rem;
    margin: 1rem;
}

.social_button {
    background-color: transparent;
}

.footerIcons {
    font-size: 3rem;
    color: var(--text-color);
    vertical-align: middle;
}

.social {
    display: flex;
    gap: 1rem
}

@media screen and (max-width: 400px) {
    .footer {
      justify-content: center;
      margin: 1rem;
    }

    .sm_p {
        font-size: 1.2rem;
        margin: .3rem;
    }

    .footerIcons {
        font-size: 2.5rem;
        color: var(--text-color);
        vertical-align: middle;
    }
}